@model FirmaService.Models.Piese

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Piese</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipPiesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipPiesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipDispozitiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipDispozitiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PieseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
